<h1 class="title">Instalación Avanzada: DooD y JVM</h1>

<p>Montar Jenkins en Docker es fácil, pero prepararlo para CI/CD real requiere conocimientos avanzados. Necesitas que Jenkins sea capaz de compilar contenedores Docker dentro de sus propios pipelines, y necesitas afinar la Máquina Virtual de Java (JVM).</p>

<h3>Docker out of Docker (DooD) vs Docker in Docker (DinD)</h3>
<p>Evita <em>DinD</em> (correr un demonio de Docker anidado dentro de Jenkins) por problemas de seguridad y rendimiento de archivos. La técnica experta es <em>DooD</em>: mapear el socket del host para que Jenkins utilice el demonio del servidor padre para crear contenedores <em>hermanos</em>.</p>

<div class="center-horizontal">
<pre><code class="language-bash">
# Lanzamiento experto de Jenkins
docker run -d \
  --name jenkins \
  --restart always \
  -p 8080:8080 \
  -p 50000:50000 \
  -v jenkins_data:/var/jenkins_home \
  -v /var/run/docker.sock:/var/run/docker.sock \
  -e JAVA_OPTS="-Xmx2048m -Xms512m -XX:+UseG1GC" \
  jenkins/jenkins:lts
</code></pre>
</div>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th scope="col">Configuración</th>
			<th scope="col">Impacto</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">/var/run/docker.sock</th>
			<td>Mapeo del socket. Permite a los pipelines ejecutar <code>docker build</code> y <code>docker run</code> usando el Engine del anfitrión.</td>
		</tr>
		<tr>
			<th scope="row">JAVA_OPTS</th>
			<td>Asignación estricta de memoria (Heap Size) y uso del Garbage Collector (G1GC) para evitar que Jenkins colapse con cientos de builds concurrentes.</td>
		</tr>
	</tbody>
</table>
<span class="center-horizontal caption">Configuración robusta de producción</span>
