<h1 class="title">Introducción a Jenkins</h1>

<p>Es un servidor de automatización, que permite desplegar proyectos fácilmente.</p>

<p>Permite la instalación de plugins.</p>

<h2>Instalación y bootstrap junto a docker y java 11:</h2>

<ul>
    <li>Instalación de Java 11, variable de entorno home y actualización de PATH</li>
    <li>Instalar Docker desktop</li>
    <li>Instalar Jenkins</li>
    <li>Instalar Chocolatey(Opcional)</li>
</ul>

<div class="center-horizontal">
    <img src="components\jenkins\introduccion\assets\capt_1.png">
</div>
<p><b>NOTA:</b> La nueva versión de jenkins utiliza las versiones de java 11 a la 17</p>

<p>Se puede instalar jenkins desde un documento con extensión <b>.msi</b> en Windows o ejecutar el documento con extensión <b>.war</b> con java mediante comandos.</p>

<div class="center-horizontal">
    <img src="components\jenkins\introduccion\assets\capt_2.png">
</div>

<div class="center-horizontal">
<pre><code class="language-bash hljs">
#Comando para ejecutar jenkins
java -jar jenkins.war httpPort=8080
</code></pre>
</div>

<h2>Crear un Job y Enlazar con un repositorio</h2>



<h2>Schedule and remote jobs</h2>

<h2>Crear un Cron</h2>
<p><b>NOTA:</b> Un cron es...</p>


<h2>Parametrized Builds</h2>

<h2>Plugin: Autorización para las builds</h2>